* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  background-color: burlywood;
  margin: 100px auto;
  width: 80%;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.container form {
  padding: 10px;
  width: 100%;
}
.container label {
  display: block;
  letter-spacing: 0.2rem;
  font-style: italic;
  margin-bottom: 3px;
}
.container input,
.container textArea {
  width: 100%;
  margin: 0 auto;
  padding: 10px;
  border: 0px;
}
.container input:focus,
.container textArea:focus {
  box-shadow: 1px 1px 4px 1px rgb(49,170,240);
}
.btn {
  display: flex;
  justify-content: center;
}
.btns {
  background-color: #000000;
  color: #fff;
  width: 10vh;
  height: 5vh;
}
.singleItem {
  margin: 10px 0;
}